In [8]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randn(3,2),columns=list('AB'))

In [9]:
df.head()

          A         B
0  0.009900  0.680486
1 -0.226635  0.551289
2  0.641635 -1.542920

In [15]:
df.sum(axis=0)

A    0.424901
B   -0.311145
dtype: float64

In [16]:
print range(1,11)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]